{{set . "title" "เข้าสู่ระบบ"}}
{{template "Templates/header.html" .}}
<div class="chaokaset-container-fixed">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 example">
      <h2>เข้าสู่ระบบ</h2>
      <span style="color:red;font-size: 15px;">{{.flash.error}}</span>
      <form method="post" action="{{url "Auth.PostLogin"}}">
        {{with $field := field "user.Username" .}}
        <div class="form-group">
          <label>ชื่อผู้ใช้งาน</label>
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="กรอกชื่อผู้ใช้งาน"  name="{{$field.Name}}" value="{{$field.Flash}}">
          <span class="error">{{$field.Error}}</span>
        </div>
        {{end}}
        {{with $field := field "user.Password" .}}
        <div class="form-group">
          <label for="exampleInputPassword1">รหัสผ่าน</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="กรอกรหัสผ่าน" name="{{$field.Name}}" value="{{$field.Flash}}">
          <span class="error">{{$field.Error}}</span>
        </div>
        {{end}}
        <div class="col-sm-offset-4">
          <button type="submit" class="btn btn-default">เข้าสู่ระบบ</button>
          <a href="/register">สมัครสมาชิกใหม่</a>
        </div>
        </form>
    </div>
  </div>
</div>
{{template "Templates/footer.html" .}}
