{{set . "title" "สมัครสมาชิก"}}
{{template "Templates/header.html" .}}
<div class="chaokaset-container-verticle">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 example">
      <h2>สมัครสมาชิก <span style="color:red;font-size: 15px;">{{.flash.error}}</span></h2>
      <form method="post" action="{{url "Auth.PostRegister"}}">
        {{with $field := field "user.Username" .}}
        <div class="form-group">
          <label for="exampleInputEmail1">ชื่อผู้ใช้งาน</label>
          <input type="text" class="form-control" placeholder="กรอกชื่อผู้ใช้งาน (ภาษาอังกฤษเท่านั้น)" name="{{$field.Name}}" value="{{$field.Flash}}">
          <span class="error">{{$field.Error}}</span>
        </div>
        {{end}}
        {{with $field := field "user.Prefix" .}}
        <div class="form-grop col-md-12" style="padding: 0px;">
          <div class="form-group col-md-3 padding-left-no">
            <label>คำนำหน้าชื่อ</label>
            <select class="form-control" name="{{$field.Name}}">
               <option value="นาย">นาย</option>
               <option value="นาง">นาง</option>
               <option value="นางสาว">นางสาว</option>
             </select>
          </div>
          {{end}}
          {{with $field := field "user.Name" .}}
          <div class="form-group col-md-5">
            <label>ชื่อ</label>
            <input type="text" class="form-control" placeholder="กรอกชื่อ" name="{{$field.Name}}" value="{{$field.Flash}}">
            <span class="error">{{$field.Error}}</span>
          </div>
          {{end}}
          {{with $field := field "user.Lastname" .}}
          <div class="form-group col-md-4 padding-right-no">
            <label>นามสกุล</label>
            <input type="text" class="form-control" placeholder="กรอกนามสกุล" name="{{$field.Name}}" value="{{$field.Flash}}">
            <span class="error">{{$field.Error}}</span>
          </div>
        </div>
        {{end}}
        {{with $field := field "user.Password" .}}
        <div class="form-group">
          <label>รหัสผ่าน</label>
          <input type="password" class="form-control" placeholder="กรอกรหัสผ่าน (ภาษาอังกฤษเท่านั้น)" name="{{$field.Name}}" value="{{$field.Flash}}">
          <span class="error">{{$field.Error}}</span>
        </div>
        {{end}}
        {{with $field := field "user.Validpassword" .}}
        <div class="form-group">
          <label>ยืนยันรหัสผ่าน</label>
          <input type="password" class="form-control" placeholder="กรอกรหัสผ่านอีกครั้งให้ตรงกับช่องรหัสผ่าน" name="{{$field.Name}}" value="{{$field.Flash}}">
          <span class="error">{{$field.Error}}</span>
        </div>
        {{end}}
        {{with $field := field "user.Tel" .}}
        <div class="form-group">
          <label>เบอร์โทรศัพท์</label>
          <input type="text" class="form-control" placeholder="กรอกเบอร์โทรศัพท์" name="{{$field.Name}}" value="{{$field.Flash}}">
          <span class="error">{{$field.Error}}</span>
        </div>
        {{end}}
        {{with $field := field "user.Email" .}}
        <div class="form-group">
          <label>อีเมล</label>
          <input type="text" class="form-control" placeholder="กรอกอีเมล์ เช่น sample@gmail.com" name="{{$field.Name}}" value="{{$field.Flash}}">
          <span class="error">{{$field.Error}}</span>
        </div>
        {{end}}
        {{with $field := field "user.Role" .}}
        <div class="form-group">
          <label>คุณคือ</label>
          <select class="form-control" name="{{$field.Name}}">
             <option value="3">เกษตรกร</option>
             <option value="4">ผู้สนไจสินค้าเกษตร</option>
             <option value="2">เจ้าหน้าที่</option>
           </select>
        </div>
        {{end}}
        <div class="col-xs-offset-2 col-sm-offset-4">
          <button type="submit" class="btn btn-default">สมัครสมาชิก</button>
          <button type="submit" class="btn btn-default">ยกเลิก</button>
        </div>
        </form>
    </div>
  </div>
</div>
{{template "Templates/footer.html" .}}
