{{set . "title" "วิธี"}}
{{template "Templates/header.html" .}}
{{template "Templates/preloader.html" .}}
<div class="chaokaset-container-verticle" id="chaokaset-loader">
  <div class="col-sm-12 varticle-header-box">
    <h1>การใช้งานตั้งค่าผู้ไช้งาน</h1>
  </div>
  <!--<div class="col-sm-12 container-box">
    <div class="col-sm-12 container-box-content" >
      <div class="col-sm-12 name-header"> <h2 class="color-green">แก้ไขข้อมูลส่วนตัว</h2></div>
      <div class="col-sm-12 name-content">
        <p>แก้ไขข้อมูลส่วนตัวของผู้ไช้งาน เช่น ชื่อ นามสกุล โดยคลิกที่ปุ่มแก้ไขข้อมูลส่วนตัว</p>
        <div class="col-sm-12">
          <button class="chaokaset-btn-border btn-style-choice" style="margin: 20px auto 0px;" onclick="javascript:location.href='/edituser'">แก้ไขข้อมูลส่วนตัว</button>
        </div>
      </div>
    </div>
  </div>-->
</div>
{{template "Templates/footer.html" .}}
