<div class="col-sm-12 col-xs-12" id="chaokaset-preloader" style="background-color: white;position: absolute;height:100%;z-index: 1000">
  <img src="/public/img/chaokaset-logo.png" style="width: 200px;margin-top: 20%;background-color: white;" class="col-sm-offset-5 col-xs-offset-2">
  <div class="progress" style="width: 30%;margin: 0px 35%;">
    <div id="loading-progress" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:0%;">
    <span>กำลังโหลดข้อมูล</span>
    </div>
  </div>
</div>
<script>
$("#chaokaset-loader").css('display','none');
$("#chaokaset-preloader").show();
$( "#loading-progress" ).css('width','30%');
$(window).load(function() {
  $( "#loading-progress" ).css('width','100%');
  setTimeout(function(){
     $('#chaokaset-preloader').css('display','none');
     $("#chaokaset-loader").fadeIn(200);
  }, 500);
});
</script>
