{{set . "title" "Api 1.0"}}
{{template "Templates/header.html" .}}
<div class="chaokaset-container-verticle">
  <div class="row">
    <h2>Api ของระบบชาวเกษตร</h2>
    <div class="col-md-6 col-md-offset-3 example">
      <h2>Login</h2>
      <p>GET     (ipserver)/apiv1_0/login/:Username/:Password      Return {Status boolean,Username string}</p>
    </div>
    <div class="col-md-6 col-md-offset-3 example">
      <h2>Register</h2>
      <p>POST     /apiv1_0/register/:Username/:Password/:Prefix/:Name/:Lname/:Tel      Return {Status boolean,Username string}</p>
    </div>
    <div class="col-md-6 col-md-offset-3 example">
      <h2>พืช ทั้งหมด Plant</h2>
      <p>GET     /apiv1_0/plants/:skip       Return JSON</p>
    </div>
    <div class="col-md-6 col-md-offset-3 example">
      <h2>พืช ชนิดเดียว (ค้นหาจากคำ) Plant</h2>
      <p>GET     /apiv1_0/plant/:word       Return JSON</p>
    </div>
    <div class="col-md-6 col-md-offset-3 example">
      <h2>พันธุ์พืชทั้งหมด Seeds</h2>
      <p>GET     /apiv1_0/plants/:skip       Return JSON</p>
    </div>
    <div class="col-md-6 col-md-offset-3 example">
      <h2>พันธุ์พืช ชนิดเดียว (ค้นหาจากคำ) Seed</h2>
      <p>GET     /apiv1_0/plant/:word       Return JSON</p>
    </div>
  </div>
  <div class="col-md-6 col-md-offset-3 example">
    <h2>ลบพันธุ์พืช ชนิดเดียว  (Seed)</h2>
    <p>POST     /apiv1_0/removeseed/:idseed       Return JSON</p>
  </div>
</div>
{{template "Templates/footer.html" .}}
