{{set . "title" "แสดงข้อมูลเกษตรกร"}}
{{template "Templates/header.html" .}}

{{template "Templates/preloader.html" .}}
<div class="chaokaset-container-verticle" id="chaokaset-loader" style="display: none;">
  <div class="col-sm-12 varticle-header-box">
    <h1>แสดงรายชื่อเกษตรกร</h1>
  </div>
  <div class="col-sm-12 container-box" ng-app="ChaokasetApp" ng-controller="searchShowFarmer" style="margin-top: 20px;">
    <div class="col-sm-2" style="padding: 0px;">
      <button type="button" name="button" class="btn btn-success" style="width: 90%;">เพิ่มข้อมูล</button>
    </div>
    <div class="col-sm-10" style="padding: 0px;">
      <input type="text" name="SearchCrops" class="form-control" placeholder="ค้นหารายชื่อเกษตรกร" ng-model="searchFarmerText">
    </div>
    <table class="table col-md-12">
      <thead class="box-thead-show">
        <tr>
          <th width="25%">ชื่อ - นามสกุล</th>
          <th>หน่วยงาน</th>
          <th>จังหวัด</th>
          <th>ตัวเลือก</th>
        </tr>
      </thead>
      <tbody class="box-tbody-show">
        <tr ng-repeat="farmer in farmers | filter:searchFarmerText">
          <td ng-bind="farmer.name"></td>
          <td ng-bind="farmer.company"></td>
          <td ng-bind="farmer.province"></td>
          <td class="color-green">
            <div class="dropdown">
              <a href="#" class="dropdown-toggle option-crops"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ดูเพิ่มเติม <span class="caret"></span></a>
              </button>
              <ul class="dropdown-menu dd-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">รายละเอียด</a></li>
                <li><a href="#">แก้ไขรายการ</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" class="color-red">ลบรายการ</a></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<script type="text/javascript">
  var app = angular.module('ChaokasetApp', []);
  app.controller('searchShowFarmer', function($scope) {
      $scope.message = "ข้อความ";
      $scope.farmers = [{name:'นาย ถวิล ศรีวัง', company:'ศูนย์ข้าวจังหวัดกำแพงเพชร',province: 'กำแพงเพชร'},{name:'นาย จำปา ศรีวัง', company:'ศูนย์ข้าวจังหวัดกำแพงเพชร',province: 'กำแพงเพชร'},{name:'นาง สมัย กล้าแกร่ง', company:'ศูนย์ข้าวอำเภอคลองหลวง',province: 'ปทุมธานี'}];
  });
</script>
{{template "Templates/footer.html" .}}
