{{set . "title" "แสดงเพิ่มพันธุ์พืช"}}
{{template "Templates/header.html" .}}

{{template "Templates/preloader.html" .}}
<div class="chaokaset-container-verticle" id="chaokaset-loader" style="display: none;">
  <div class="col-sm-12 varticle-header-box">
    <h1>แสดงพันธุ์พืช</h1>
  </div>
  <div class="col-sm-12 container-box"  ng-app="ChaokasetApp" ng-controller="searchShowPlant" style="margin-top: 20px;">
    <div class="col-sm-2" style="padding: 0px;">
      <button type="button" name="button" class="btn btn-success" style="width: 90%;" onclick="javascript:location.href='/plant/addseed'">เพิ่มพันธุ์พืช</button>
    </div>
    <div class="col-sm-10" style="padding: 0px;">
      <input type="text" name="SearchCrops" class="form-control" placeholder="ค้นหาพันธุ์พืช" ng-model="searchPlant">
    </div>
    <table class="table col-md-12">
      <thead class="box-thead-show">
        <tr>
          <th width="40%">ชื่อพันธุ์พืช</th>
          <th>ชื่อพืช</th>
          <th style="text-align: center;">จำนวนผู้ปลูก</th>
          <th>ตัวเลือก</th>
        </tr>
      </thead>
      <tbody class="box-tbody-show">
        <tr ng-repeat="plant in filterPlans  = (plants | filter:searchPlant)">
          <td ng-bind-html="plant.SeedName | searchfilter:searchPlant"></td>
          <td ng-bind-html="plant.PlantName | searchfilter:searchPlant"></td>
          <!--<td ng-bind-html="plant.Used | searchfilter:searchPlant"></td> -->
          <td style="text-align: center;" ng-bind="used | number:0  ">
          </td>
          <td class="color-green">
            <div class="dropdown">
              <a href="#" class="dropdown-toggle option-crops"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ดูเพิ่มเติม <span class="caret"></span></a>
              </button>
              <ul class="dropdown-menu dd-menu" aria-labelledby="dropdownMenu1">
                <li><a data-toggle="modal" data-target="#myModal">รายละเอียด</a></li>
                <li><a href="#">แก้ไขรายการ</a></li>
                <li role="separator" class="divider"></li>
                <li><a ng-click="RemoveSeed(plant.SeedId,$index)" class="color-red">ลบรายการ</a></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr ng-show="!filterPlans.length" style="text-align: center;">
            <td colspan="6">ไม่มีข้อมูล</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- Modal -->
<div class="modal fade container-box" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog container-box-content" role="document">
    <div class="modal-content">
      <div class="modal-header name-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="color-green" id="NameDetailLabel">แผนการเพาะปลูก</h4>
      </div>
      <div class="modal-body info-plant-show">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var app = angular.module('ChaokasetApp', ['ngSanitize']);
  app.controller('searchShowPlant', function($scope, $http) {
      $scope.used = 0;
      $http.get(site_url+"/apiv1_0/seeds/0/")
      .then(function(response) {
        console.log(response.data);
        $scope.plants = response.data;
      });
      $scope.urlremove = site_url+"/apiv1_0/removeseed/";
      $scope.RemoveSeed = function(removeid,at) {
        $scope.plants.splice(at, 1);
        $http({
          method: 'POST',
          url: $scope.urlremove+removeid
        }).then(function(response) {
        },function(response) {
      });
      }
  })
  .filter('searchfilter', function() {
        return function (input, query) {
            if(query == ""){
            return input;
          }else{
            return input.replace(RegExp('('+ query + ')', 'g'), '<span class="semetic-value">$1</span>');
          }
        }
  });
  //Modal Script
  $('#myModal').on('shown.bs.modal', function () {
    $('#myInput').focus()
  })
</script>
{{template "Templates/footer.html" .}}
