//@Author : Sittipong Jungsakul
//Colours
$green: #2ecc71;
$red: #e74c3c;
$blue: #05B2D2;
$grey: #c5c5c5;
$fontgrey: #747474;
$yellow: #F3D534;
$purple: #8e44ad;
$turquoise: #1abc9c;
$gray: #bbbbbb;
//----- Color Style---
.bg-green{
  background-color: $green;
}
.semetic-value {
   font-weight: bold;
   color: $red;
}
.bg-blue{
  background-color: #19B5FE;
}
.bg-yellow{
  background-color: #F3D534;
}
.bg-red{
  background-color: $red;
}
.bg-pink{
  background-color: #EA4C89;
}
.error{
  color: $red;
}
.activity-new{
  background-color: $red;
  border-radius: 50%;
}
.example{
  padding: 30px;
  background-color: #F1F1F1;
  border-radius: 5px;
  margin-top: 10px;
}
.margin-example{
  margin-top: 30px;
}
.margin-left{
  margin: 10px 10px 0px;
}
@media (max-width: 768px){
  .margin-left{
    margin: 0px;
  }
}
.padding-left-no{
  padding-left: 0px;
}
.padding-right-no{
  padding-right: 0px;
}
.notification-app{
  background-color: transparent;
  position: fixed;
  right: 0;
  font-size: 16px;
  padding: 20px 20px;
  width: 400px;
  z-index: 1000;
  cursor: pointer;
  .notification-success{
    border-radius: 10px;
    background-color: white;
    border: 2px solid $green;
    color: $green;
  }
  .notification-error{
    border-radius: 10px;
    background-color: white;
    border: 2px solid $red;
    color: $red;
  }
  .notification-warning{
    border-radius: 10px;
    background-color: white;
    border: 2px solid $yellow;
    color: $yellow;
  }
  .notification-close{
    float: right;
    background-color: white;
    color: #838383;
    text-decoration: none;
    border: none;
  }
}
.abtn{
  margin: 20px auto 0px;
  margin-top: 13px;
  box-sizing: border-box;
  appearance: none;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid $red;
  color: $red;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  padding: 15px 25px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;

  &:hover{
    color: #fff;
    outline: 0;
  }
}
.progress {
  position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: white;
}
@media (max-width: 768px){
  .padding-left-no{
    padding-left: 0px;
    padding-right: 0px;
  }
  .padding-right-no{
    padding-left: 0px;
    padding-right: 0px;
  }
}
//----- Text -------
h1,h2,h3,h4,p{
  color: black;
}
.color-red{
  color: $red!important;
}
.color-green{
  color: #00b74e!important;
}
.color-blue{
  color: $blue!important;
}
.color-yellow{
  color: #F3D534!important;
}
.color-white{
  color: white!important;
}
.text-underline{
  text-decoration: underline;
}
.text-bold{
  font-weight: 700;
}
.text-italic{
  font-style: italic;
}
* {
  font-family: 'Kanit', sans-serif;
}
h1,h2,h3{
  font-family: 'Kanit', sans-serif;
}
//--  Navigation --
.nav-brand-chaokaset{
  padding: 0px 15px;
  img{
    height: 0px;
  }
}
@media (max-width: 990px){
  .nav-brand-chaokaset{
    padding: 0px 20px;
    img{
      height: 64px;
    }
  }
  .nav-content{
    margin: 0px -15px;
  }
}
@media (min-width: 992px){
    .nav-brand-chaokaset{
      img{
        height: 84px;
      }
    }
    .chaokaset-nav{
      background-color: white;
      border-color: #FFFFFF;
      font-weight: 500;
      font-family: 'Kanit', sans-serif;
      -webkit-font-smoothing: antialiased;
      font-size: 18px;
      padding: 0px 45px;
      -webkit-box-shadow: 0 4px 6px -6px #222;
      -moz-box-shadow: 0 4px 6px -6px #222;
      box-shadow: 0 4px 6px -6px #222;
      .nav-content{
        >li>a {
          padding-top: 29px; //15
          padding-bottom: 23px; //15
          font-weight: 400;
          &:hover,
          &:focus {
            color: $green!important;
            outline: none;
            background-color: #fff!important;
          }
        }
      }
      .nav-content-right{
        >li>a {
          padding-top: 29px; //15
          padding-bottom: 23px; //15
          font-weight: 400;
          &:hover,
          &:focus {
            color: $green!important;
            outline: 0;
            background-color: white!important;
          }
        }
      }
    }
}
//------ Button --------
// Basic Button Style
@media (max-width: 990px){
  .chaokaset-btn-border {
    background-color: #F8F8F8;
    color: #777;
    margin: 10px 10px;
    border: 0px;
    font-weight: 700;
    &:hover{
      color: $green;
    }
  }
}
@media (min-width: 992px){
    .chaokaset-btn-border {
      margin-top: 13px;
      box-sizing: border-box;
      appearance: none;
      border-radius: 10px;
      background-color: transparent;
      border: 2px solid $red;
      color: $red;
      cursor: pointer;
      display: flex;
      align-self: center;
      font-size: 18px;
      font-weight: 400;
      line-height: 1;
      padding: 15px 25px;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      font-family: 'Kanit', sans-serif;
      font-weight: 700;

      &:hover{
        color: #fff;
        outline: 0;
      }
    }
    //style
    .btn-style-one {
      border-radius: 3em;
      border-color: $blue;
      color: $blue;
      background: {
        image: linear-gradient(45deg,$blue 50%, transparent 50%);
        position: 100%;
        size: 400%;
      }
      transition: background 300ms ease-in-out;
      -webkit-transition: 300ms ease-in-out;
      &:hover {
        background-position: 0;
      }
      &:focus {
        outline: none;
      }
    }
    .btn-style-two {
      // background: $yellow;
      border-color: $green;
      color: $green;
      background: {
        image: linear-gradient(45deg,$green 50%, transparent 50%);
        position: 100%;
        size: 400%;
      }
      transition: background 300ms ease-in-out;
      -webkit-transition: 300ms ease-in-out;
      &:hover {
        background-position: 0;
      }
      &:focus {
        outline: none;
      }
    }
    .btn-style-choice {
      // background: $yellow;
      float: left;
      border: $green;
      color: white;
      background-color: $green;
      &:hover {
        background-color: #28b162;
        border: #28b162;
      }
      &:focus {
        background-color: #28b162;
        border: #28b162;
      }
    }
}
//------ Main -----
.chaokaset-green-video{
    width: 100%;
    height: 100%;
    background-color: green;
}
.chaokaset-main-search{
  width: 100%;
  height: 60px;
    .search-plant{
      font-weight: 500;
      border-radius: 10px;
      color: #676767;
      background-color: white;
      outline: none;
      border-radius: 10px;
      border: 5px;
      border-color: transparent;
      &:hover{
        outline: none;
        border-radius: 10px;
        border: 5px solid;
        border-color: grey;
      }
      &:focus {
        outline: none;
        border-radius: 10px;
        border: 5px solid;
        border-color: #569FFF;
      }
    }
}
.chaokaset-main-button-search{
  margin-top: 20px;
  width: 100%;
  height: 50px;
    .button-search{
      width: 200px;
      height: 50px;
      border-radius: 10px;
      background-color: white;
      font-size: 18px;
      font-weight: 500;
      &:hover{
        background-color: white;
        color: $green;
        outline: none;
        border: 4px solid;
        border-color: $green;
      }
    }
}
.chaokaset-slide-container{
  background-color: #fff;
  height: 100%;
  padding-top: 60px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 20px;
  .preview-showname-rice{
    h1{
      font-weight: 500;
      font-size: 4em;
      color: black;
      text-align: left;
    }
  }
  .preview-image{
    padding: 40px;
    height: 85%;
    background-color: #fff;
    img{
      width: 100%;
    }
  }
  .preview-content{
    height: 100%;
    background-color: #fff;
    .preview-content-contain{
      padding: 10px 0px;
      max-height: 60%;
      overflow-y: hidden;
      h1{
        width: 100%;
        color: black;
        font-size: 2.5em;
        font-weight: 500;
        text-align: left;
      }
      p{
        margin-top: 7px;
        color: black;
        font-size: 1.5em;
        font-weight:00;
        text-align: left;
        a{
          margin-left: 5px;
        }
      }
    }
  }
  .preview-button{
    height: 36%;
    padding: 10px 0px;
    background-color: white;
    h1{
      width: 100%;
      color: black;
      font-size: 2.5em;
      font-weight: 500;
      text-align: left;
    }
    p{
      color: black;
      font-size: 1.5em;
      font-weight:00;
      text-align: left;
    }
  }
  .info-button{
    height: 150px;
    margin-top: 3%;
    .image-box{
        height: 100px;
        width: 100px;
        h2.val-box{
          padding-top: 20%;
          color: white;
          font-size: 2em;
          font-weight: 600;
          &:hover{
            font-size: 3em;
          }
        }
      }
      h2.mg-box{
        font-size: 1.5em;
        margin-top: 10px;
      }
    .text{
      height: 30%;
    }

    .font-box{
      margin-left: 28%;
      width: 50px;
      height: 50px;
        span.icon-box{
          font-size: 25px;
          color: white;
          line-height: 50px;
          &:hover{
            font-size: 35px;
          }
        }
      }
  }
}
@media (max-width: 990px){
  .layer{
    top: 35%!important;
  }
  .chaokaset-main-search{
      .search-plant{
        margin-left: 0%;
        width: 93%;
        height: 70px;
        padding-left: 20px;
        font-size: 3em;
      }
  }
  .chaokaset-main-button-search{
    margin-top: 20px;
    width: 100%;
    height: 50px;
      .button-search{
        font-size: 1.5em;
      }
  }
}
@media (min-width: 990px){
  .chaokaset-main-search{
    margin-top: 20px;
    height: 60px;
      .search-plant{
        padding-left: 15px;
        font-size: 23px;
        width: 50%;
        height: 100%;
      }
  }
}

//------ Template --------------------------
//--- Container Pages
//แสดงหน้ายาวแบบ one page
.chaokaset-container-verticle{
  padding: 80px;
  height: 100%;
  p{
    font-size: 16px;
  }
  h1{
    font-size: 35px;
  }
  h2{
    font-size: 25px;
  }
  form{
    margin-top: 10px;
  }
  label,button,a{
    font-size: 18px;
  }
  input{
    height: 38px;
    font-size: 18px;
  }
  .report-data{
    height: 50px;
    line-height: 50px;
    border-top: solid 1.5px #c5c5c5;
    border-bottom: solid 1.5px #c5c5c5;
    block-size: initial;
    small{
      color: #747474;
    }
  }
  .varticle-header-box{
    padding: 10px;
    margin-top: 20px;
    input{
      height: 50px;
    }
  }
  .container-box-content{
    margin-top: 20px;
    border: solid 2px #eaeaea;
    padding: 25px;
    border-radius: 3px;
    .name-header{
      padding: 10px;
    }
    .name-content{
      padding-left: 10px;
      padding-right: 10px;
    }
    .info-plant-show{
      label{
        font-size: 20px;
        color: #4d4d4d;
      }
      p{
        font-size: 18px;
        color: #6b6b6b;
      }
      select{
        font-size: 18px;
        height: 38px;
      }
    }
  }
  .container-box{
    height: 100%;
    margin-bottom: 20px;
    thead.box-thead-show{
      th{
        font-size: 20px;
        color: black;
      }
    }
    tbody.box-tbody-show{
      td{
        font-size: 18px ;
        color: #505050;
        .status-ball{
          cursor: pointer;
          margin-left: 18px;
          margin-top: 6px;
          width: 18px;
          height: 18px;
          display: block;
          border-radius: 50%;
        }
        a.name-crops{
          cursor: pointer;
          font-size: 18px;
          color: $green;
          text-decoration:none;
          &:hover{
            text-decoration:none;
          }
        }
        a.option-crops{
          cursor: pointer;
          font-size: 18px;
          color: $blue;
          text-decoration:none;
          &:hover{
            text-decoration:none;
          }
        }
        a.option-dd{
          cursor: pointer;
          font-size: 15px;
          color: #6F6F6F;
          text-align: center;
          float: inherit;
          text-decoration: none;
          &:hover{
            text-decoration:none;
          }
        }
        .dd-menu{
          a{
            cursor: pointer;
            text-align: center;
          }
        }
      }
    }
  }
}
@media (max-width: 768px){
  .chaokaset-container-verticle{
    padding: 60px 10px;
  }
}

// แสดงหน้าเดียว แบบ Fix หน้าจอ 100%
.chaokaset-container-fixed{
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 80px;
  padding-bottom: 20px;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  p{
    font-size: 2em;
  }
  h1{
    font-size: 3em;
  }
  h2{
    font-size: 2.5em;
  }
  form{
    margin-top: 10px;
  }
  label,button,a{
    font-size: 1.3em;
  }
  input{
    height: 38px;
    font-size: 1.2em;
  }
}

#chatroom{
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: white;
  .message{
    height: 32px;
    font-size: 18px;
    color: black;
    float: right;
  }
  .me{
    float: left!important;
  }
  .notice{
    width: 100%;
    height: 32px;
    font-size: 18px;
    text-align: center;
    .ctmessage{
      height: 100%;
      h2{
        font-weight: 500;
      }
      p{
        color: red;
      }
    }
  }
}
