{{set . "title" "จัดการข้อมูลการเกษตร"}}
{{template "Templates/header.html" .}}

{{template "Templates/preloader.html" .}}
<div class="chaokaset-container-verticle" id="chaokaset-loader" style="display: none;">
  <div class="col-sm-12 varticle-header-box">
    <h1>จัดการข้อมูลการเกษตร</h1>
  </div>
  <div class="col-sm-12 container-box" style="text-align: center;">
    <div class="col-sm-6">
      <div class="col-sm-12 container-box-content">
          <div class="card card-block">
            <h2 class="card-title">เกษตรกร</h2>
            <p class="card-text">การจัดการข้อมูลเกษตรกร</p>
            <button class="chaokaset-btn-border btn-style-choice col-sm-12" onclick="javascript:location.href='/farmer/showfarmer'">ค้นหารายชื่อเกษตรกร</button>
          </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="col-sm-12 container-box-content">
          <div class="card card-block">
            <h2 class="card-title">แผนการเพาะปลูก</h2>
            <p class="card-text">การจัดการแผนการเพาะปลูก</p>
            <button class="chaokaset-btn-border btn-style-choice col-sm-12" onclick="javascript:location.href='/plan/showplan'">ค้นหาแผนการเพาะปลูก</button>
            <!--<button class="chaokaset-btn-border btn-style-choice col-sm-12" onclick="javascript:location.href='/plan/management'">จัดการข้อมูลแผนการเพาะปลูก</button>-->
          </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-sm-12 container-box-content">
          <div class="card card-block">
            <h2 class="card-title">จัดการศูนย์การเกษตร</h2>
            <p class="card-text">การจัดการศูนย์การเกษตร</p>
            <button class="chaokaset-btn-border btn-style-choice col-sm-12" onclick="javascript:location.href='/plan/showplan'">ค้นหาศูนย์การเกษตร</button>
            <!--<button class="chaokaset-btn-border btn-style-choice col-sm-12" onclick="javascript:location.href='/plan/management'">จัดการข้อมูลแผนการเพาะปลูก</button>-->
          </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-sm-12 container-box-content">
          <div class="card card-block">
            <h2 class="card-title">พืช</h2>
            <p class="card-text">การจัดการพืชเพาะปลูก</p>
            <button class="chaokaset-btn-border btn-style-choice col-sm-12" onclick="javascript:location.href='/plant/showplant'">ค้นหาพืช</button>
            <!--<button class="chaokaset-btn-border btn-style-choice col-sm-12" onclick="javascript:location.href='/plan/management'">จัดการข้อมูลแผนการเพาะปลูก</button>-->
          </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-sm-12 container-box-content">
          <div class="card card-block">
            <h2 class="card-title">พันธุ์พืช</h2>
            <p class="card-text">การจัดการพันธุ์พืชเพาะปลูก</p>
            <button class="chaokaset-btn-border btn-style-choice col-sm-12" onclick="javascript:location.href='/plant/showseed'">ค้นหาพันธุ์พืช</button>
            <!--<button class="chaokaset-btn-border btn-style-choice col-sm-12" onclick="javascript:location.href='/plan/management'">จัดการข้อมูลแผนการเพาะปลูก</button>-->
          </div>
      </div>
    </div>
  </div>
</div>
{{template "Templates/footer.html" .}}
