{{set . "title" "บัญชีการเพาะปลูก"}}
{{template "Templates/header.html" .}}
{{template "Templates/preloader.html" .}}
<script type="text/javascript">
  $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').focus()
})
</script>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2 class="color-green">เพิ่มบัญชีการเพาะปลูก</h2>
      </div>
      <div class="modal-body">
        <div class="row">
        <div class="col-sm-12 container-box">
          <div class="col-sm-12 container-box-content" >
            <form method="post" action="{{url "Plant.PostAddSeed"}}">
              <div class="info-plant-show">
                <div class="form-grop col-md-12" style="padding: 0px;">
                  {{with $field := field "Account.TypeAccount" .}}
                  <div class="form-group col-md-12 padding-left-no padding-right-no">
                    <label>ประเภทการเก็บเงิน</label>
                    <select class="form-control" name="{{$field.Name}}" id="testdata">
                       <option value="1">รายรับ</option>
                       <option value="2">รายจ่าย</option>
                    </select>
                  </div>
                  {{end}}
                </div>
                <div class="form-grop col-md-12" style="padding: 0px;">
                  {{with $field := field "Account.Details" .}}
                  <div class="form-group col-md-12 padding-left-no padding-right-no">
                    <label>ชื่อรายการ</label>
                    <input type="text" class="form-control" placeholder="กรอกชื่อพันธุ์พืช" name="{{$field.Name}}" value="{{$field.Flash}}">
                    <span class="error">{{$field.Error}}</span>
                  </div>
                  {{end}}
                </div>
                <div class="form-grop col-md-12" style="padding: 0px;">
                  {{with $field := field "Account.Price" .}}
                  <div class="form-group col-md-12 padding-left-no padding-right-no">
                    <label>จำนวนเงิน</label>
                    <input type="number" class="form-control" placeholder="กรอกจำนวนเงิน" name="{{$field.Name}}" value="{{$field.Flash}}">
                    <span class="error">{{$field.Error}}</span>
                  </div>
                  {{end}}
                </div>
              </div>
          </div>
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">บันทึก</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">ปิด</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="chaokaset-container-verticle" id="chaokaset-loader" style="display: none;">
  <div class="col-sm-12 varticle-header-box">
    <h1>{{.cropdata.CropName}} ({{.user.Username}})</h1>
    <h2 style="color: grey; font-size: 16px;">ระยะเวลาปลูก {{.cropdata.Duration}} วัน / ผลผลิต {{.cropdata.Product}} ต่อ 1 ไร่ / สิ้นสุด {{.cropdata.EndDate}}</h2>
  </div>
  <div class="col-sm-12 report-data">
    <div class="col-sm-3"><p>ชนิดพืช : <small>{{.cropdata.Plant}} ({{.cropdata.Seed}})</small></p></div>
    <div class="col-sm-5"><p>วันที่เริ่ม - วันที่สิ้นสุด : <small>{{.cropdata.StartDate}} - {{.cropdata.EndDate}}</small></p></div>
    <div class="col-sm-4"><p>ขนาดแปลงปลูก : <small>20 ไร่ 2 งาน 3 ตาราง</small></p></div>
  </div>
  {{template "Crops/sidebarcrops.html" .}}
  <div class="col-sm-9 container-box">
    <div class="col-sm-12 container-box-content" >
      <div class="col-sm-5 name-header padding-left-no padding-right-no"><h2 class="color-green">บัญชีการเพาะปลูก</h2></div>
      <div class="col-sm-7 name-header padding-left-no padding-right-no">
        <div class="col-sm-4">
          <button type="button" name="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">เพิ่มข้อมูล</button>
        </div>
        <div class="col-sm-8" style="padding: 0px;">
          <input type="text" name="SearchCrops" class="form-control" placeholder="ค้นหารายการบัญชี">
        </div>
      </div>
      <table class="table col-md-12">
        <thead class="box-thead-show">
          <tr>
            <th width="15%">วันที่</th>
            <th>ประเภท</th>
            <th width="25%">ชื่อรายการ</th>
            <th>จำนวนเงิน</th>
            <th>ยอดเงินรวม</th>
            <th>ตัวเลือก</th>
          </tr>
        </thead>
        <tbody class="box-tbody-show">
          <tr>
            <td>10 มี.ค. 59</td>
            <td>เมล็ดพันธุ์</td>
            <td>ซื้อเมล็ดพันธุ์</td>
            <td class="color-red">- 1500.00</td>
            <td>3,000.00</td>
            <td class="color-green">
              <div class="dropdown">
                <a href="#" class="dropdown-toggle option-crops"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ดูเพิ่มเติม <span class="caret"></span></a>
                </button>
                <ul class="dropdown-menu dd-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">รายละเอียด</a></li>
                  <li><a href="#">แก้ไขรายการ</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#" class="color-red">ลบรายการ</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
          <tr>
            <td>2 มี.ค. 59</td>
            <td>ค่าปุ๋ย</td>
            <td>ซื้อปุ๋ยอินทรี</td>
            <td class="color-red">- 500.00</td>
            <td>4,500.00</td>
            <td class="color-green">
              <div class="dropdown">
                <a href="#" class="dropdown-toggle option-crops"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ดูเพิ่มเติม <span class="caret"></span></a>
                </button>
                <ul class="dropdown-menu dd-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">รายละเอียด</a></li>
                  <li><a href="#">แก้ไขรายการ</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#" class="color-red">ลบรายการ</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td>20 ก.พ. 59</td>
            <td>กู้เงิน</td>
            <td>กู้เงินจาก ธกส.</td>
            <td class="color-green">+ 5,000.00</td>
            <td>5,000.00</td>
            <td class="color-green">
              <div class="dropdown">
                <a href="#" class="dropdown-toggle option-crops"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ดูเพิ่มเติม <span class="caret"></span></a>
                </button>
                <ul class="dropdown-menu dd-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">รายละเอียด</a></li>
                  <li><a href="#">แก้ไขรายการ</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#" class="color-red">ลบรายการ</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <nav>
        <!-- แสดง 10 รายการ -->
        <ul class="pager">
          <li class="pager-prev disabled"><a href="#">< ย้อนกลับ</a></li>
          <li class="pager-next"><a href="#" style="width: 110px">ต่อไป ></a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
{{template "Templates/footer.html" .}}
