<div class="col-sm-12 report-data">
    <div class="col-sm-3"><p>ชนิดพืช : <small>ข้าว (ไรซ์เบอร์รี่)</small></p></div>
    <div class="col-sm-5"><p>วันที่เริ่ม - วันที่สิ้นสุด : <small>3 มีนาคม 2559 - 18 สิงหาคม 2559</small></p></div>
    <div class="col-sm-4"><p>ขนาดแปลงปลูก : <small>20 ไร่ 2 งาน 3 ตาราง</small></p></div>
</div>
