{{set . "title" "จัดกการการเพาะปลูก"}}
{{template "Templates/header.html" .}}

{{template "Templates/preloader.html" .}}
<div class="chaokaset-container-verticle" id="chaokaset-loader" style="display: none;">
  <div class="col-sm-6 varticle-header-box">
    <h1>จัดการการเพาะปลูก</h1>
  </div>
  <div class="col-sm-6 varticle-header-box">
    <div class="form-group">
      <button type="button" name="button" class="btn btn-success" onclick="javascript:location.href='/crops/addcrop'">เพิ่มแปลงเพาะปลูก</button>
      <!--<input type="text" name="SearchCrops" class="form-control" placeholder="ค้นหาข้อมูลการเพาะปลูก">-->
    </div>
  </div>
    <div class="col-sm-12 container-box">
      <table class="table">
        <thead class="box-thead-show">
          <tr>
            <th width="10%">สถานะ</th>
            <th width="35%">ชื่อแปลง</th>
            <th width="15%">วันเริ่มต้น</th>
            <th width="15%">วันเก็บเกี่ยว</th>
            <th width="10%">ผู้สนใจ</th>
            <th width="10%">ตัวเลือก</th>
          </tr>
        </thead>
        <tbody class="box-tbody-show">

          {{range .allcrops}}
          <tr>
            <td class="color-yellow"><span class="status-ball bg-green"></span></td>
            <td class="color-green"><a href="/crops/management/{{ .CropId.Hex }}" class="name-crops">{{ .CropName }}</a></td>
            <td>{{ .StartDate }}</td>
            <td>{{ .EndDate }}</td>
            <td>12 คน</td>
            <td class="color-green">
              <div class="dropdown">
                <a href="#" class="dropdown-toggle option-crops"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ดูเพิ่มเติม <span class="caret"></span></a>
                </button>
                <ul class="dropdown-menu dd-menu" aria-labelledby="dropdownMenu1">
                  <!--<li><a href="#">ดูข้อมูล</a></li>
                  <li><a href="#">ผู้สนใจ</a></li>
                  <li role="separator" class="divider"></li>-->
                  <li><a href="/crops/disbled/{{ .CropId.Hex }}" class="color-red">ยุติแปลงนี้</a></li>
                </ul>
              </div>
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
    </div>
</div>
{{template "Templates/footer.html" .}}
