{{set . "title" "จัดกการการเพาะปลูก"}}
{{template "Templates/header.html" .}}
{{template "Templates/preloader.html" .}}
<div class="chaokaset-container-verticle" id="chaokaset-loader" style="display: none;">
  <div class="col-sm-12 varticle-header-box">
    <h1>{{.cropdata.CropName}} ({{.user.Username}})</h1>
    <h2 style="color: grey; font-size: 16px;">ระยะเวลาปลูก {{.cropdata.Duration}} วัน / ผลผลิต {{.cropdata.Product}} ต่อ 1 ไร่ / สิ้นสุด {{.cropdata.EndDate}}</h2>
  </div>
  <div class="col-sm-12 report-data">
    <div class="col-sm-3"><p>ชนิดพืช : <small>{{.cropdata.Plant}} ({{.cropdata.Seed}})</small></p></div>
    <div class="col-sm-5"><p>วันที่เริ่ม - วันที่สิ้นสุด : <small>{{.cropdata.StartDate}} - {{.cropdata.EndDate}}</small></p></div>
    <div class="col-sm-4"><p>ขนาดแปลงปลูก : <small>20 ไร่ 2 งาน 3 ตาราง</small></p></div>
  </div>
  {{template "Crops/sidebarcrops.html" .}}
  <div class="col-sm-9 container-box">
    <div class="col-sm-12 container-box-content">
      <div class="col-sm-12 name-header"> <h2 class="color-green">ข้อมูลแปลงเพาะปลูก</h2></div>
        <form>
          <div class="info-plant-show">
            <fieldset class="form-group col-sm-4">
              <label for="exampleInputEmail1">ชนิดพืช</label>
              <p>{{.cropdata.Plant}}</p>
            </fieldset>
            <fieldset class="form-group col-sm-4">
              <label for="exampleInputEmail1">พันธุ์พืช</label>
              <p>{{.cropdata.Seed}}</p>
            </fieldset>
            <fieldset class="form-group col-md-4">
              <label for="exampleInputEmail1">แผนการเพาะปลูก</label>
              <p>{{.plandata.PlanName}}</p>
            </fieldset>
          </div>
          <div class="info-plant-show">
            <fieldset class="form-group col-sm-4">
              <label for="exampleInputEmail1">ระยะเวลาปลูกเพาะปลูก</label>
              <p>{{.cropdata.Duration}}</p>
            </fieldset>
            <fieldset class="form-group col-sm-4">
              <label for="exampleInputEmail1">วันที่เริ่ม</label>
              <p>{{.cropdata.StartDate}}</p>
            </fieldset>
            <fieldset class="form-group col-md-4">
              <label for="exampleInputEmail1">วันที่สิ้นสุด</label>
              <p>{{.cropdata.EndDate}}</p>
            </fieldset>
          </div>
          <div class="info-plant-show">
            <fieldset class="form-group col-sm-4">
              <label for="exampleInputEmail1">ขนาดพื้นที่</label>
              <p>20 ไร่ 2 งาน 3 ตาราง</p>
            </fieldset>
            <fieldset class="form-group col-sm-4">
              <label for="exampleInputEmail1">จำนวนผลผลิตต่อไร่</label>
              <p>{{.cropdata.Product}} กก.</p>
            </fieldset>
            <fieldset class="form-group col-md-4">
              <label for="exampleInputEmail1">ประมาณผลผลิตทั้งหมด</label>
              <p>{{.cropdataproduct}} กก.</p>
            </fieldset>
          </div>
        </form>
      <div class="col-sm-12 name-header"><h2 class="color-green">ความก้าวหน้าการเพาะปลูก</h2></div>
      <form>
        <div class="info-plant-show col-sm-5">
          <fieldset class="form-group">
            <label for="exampleInputEmail1">ภาพรวมบัญชี</label>
            <p class="color-green">+ 3000 บาท</p>
          </fieldset>
          <fieldset class="form-group">
            <label for="exampleInputEmail1">ภาพรวมปัญหา</label>
            <p>10 ปัญหา</p>
          </fieldset>
          <fieldset class="form-group">
            <label for="exampleInputEmail1">ภาพรวมชุมชน</label>
            <p>ลูกค้า 20 คน</p>
            <p>ผู้สนใจ 90 คน</p>
          </fieldset>
        </div>
        <div class="col-sm-7">
            <img src="/public/img/grow/rice/rice1.png" style="width: 300px;">
        </div>
      </form>

      <!--<div class="col-sm-12 name-header"><h2 class="color-green">ปฎิทินการเพาะปลูก</h2></div>-->

    </div>
  </div>
</div>
{{template "Templates/footer.html" .}}
