{{set . "title" "หน้าหลัก"}}
{{template "Templates/header.html" .}}
<script type="text/javascript" src="/public/js/fullpagejs/fullpage.js"></script>
<script type="text/javascript" src="/public/js/chaokaset.js"></script>
<script type="text/javascript">
		$(document).ready(function() {
			$('#fullpage').fullpage({
				verticalCentered: true,
				sectionsColor: ['#8DDA52', '#fff', '#2ecc71','#fff'],
				afterRender: function(){
					//playing the video
					$('video').get(0).play();
				}
			});
		});
	</script>

</head>
<div id="fullpage" ng-app="ChaokasetApp" ng-controller="searchCtrl">
	<div class="section chaokaset-main-video" id="section0">
		<video autoplay loop muted id="myVideo">
			<source src="/public/img/rice_bg_video.mp4" type="video/mp4">
		</video>
		<div class="layer">
			<h1 style="color: white;">ค้นหา</h1>
			<form action="index.html" method="post">
				<div class="chaokaset-main-search">
					<input type="text" name="smartsearch" class="search-plant" value="">
					<!--<input type="text" name="smartsearch" class="search-plant" value="" ng-value="message"> -->
				</div>
				<div class="chaokaset-main-button-search">
					<button type="button" class="button-search">ค้นหาผลผลิต</button>
					<button type="button" class="button-search">ค้นหาเกษตรกร</button>
				</div>
			</form>
		</div>
	</div>
	<div class="section" id="section1">
		<div class="slide" id="slide1">
			<div class="col-md-12 chaokaset-slide-container">
					<div class="col-md-12 preview-showname-rice">
						<h1 class="text-underline">ข้าวไรซ์เบอร์รี่</h1>
					</div>
					<div class="col-md-5 preview-image">
							<img src="/public/img/pic/rice1.jpg" alt="">
								<div class="col-md-4 col-md-offset-4 info-button">
								<a href="#like">
									<div class="img-circle font-box bg-pink">
										<span class="glyphicon glyphicon-heart icon-box" aria-hidden="true"></span>
									</div>
								</a>
								<h2 class="mg-box">ถูกใจ</h2>
							</div>
					</div>
					<div class="col-md-7 preview-content">
						<div class="col-md-12 preview-content-contain">
							<h1>รายละเอียด</h1>
							<p style="font-size: 18px;">และการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกร<a href="#">ดูเพิ่มเติม</a></p>
						</div>
						<div class="col-md-12 preview-button">
							<h1>ตัวเลือก</h1>
							<div class="col-md-8 col-md-offset-2">
								<a href="">
									<div class="col-md-4 info-button" style="height: 100%;margin-top: 3%;">
										<div class="img-circle image-box bg-green">
											<h2 class="col-md-12 val-box">1</h2>
											<h2 class="val-box">แสน</h2>
										</div>
										<h2 class="mg-box">พร้อมจำหน่าย</h2>
										<h2 class="mg-box">(กิโลกรัม)</h2>
									</div>
								</a>
								<a href="">
									<div class="col-md-4 info-button">
										<div class="img-circle image-box bg-yellow">
											<h2 class="col-md-12 val-box">4.2</h2>
											<h2 class="val-box">ร้อย</h2>
										</div>
										<h2 class="mg-box">จอง</h2>
										<h2 class="mg-box">(กิโลกรัม)</h2>
									</div>
								</a>
								<a href="">
									<div class="col-md-4 info-button">
										<div class="img-circle image-box bg-blue">
											<h2 class="col-md-12 val-box">9.2</h2>
											<h2 class="val-box">หมื่น</h2>
										</div>
										<h2 class="mg-box">เสนอซื้อ</h2>
										<h2 class="mg-box">(กิโลกรัม)</h2>
									</div>
								</a>
							</div>
						</div>
					</div>
			</div>
		</div>
		<div class="slide" id="slide2">
			<div class="col-md-12 chaokaset-slide-container">
					<div class="col-md-12 preview-showname-rice">
						<h1 class="text-underline">ข้าวหอมมะลิ กข.47</h1>
					</div>
					<div class="col-md-5 preview-image">
							<img src="/public/img/pic/rice2.jpg" alt="">
							<div class="col-md-4 col-md-offset-4 info-button">
							<a href="#like">
								<div class="img-circle font-box bg-pink">
									<span class="glyphicon glyphicon-heart icon-box" aria-hidden="true"></span>
								</div>
							</a>
							<h2 class="mg-box">ถูกใจ</h2>
						</div>
					</div>
					<div class="col-md-7 preview-content">
						<div class="col-md-12 preview-content-contain">
							<h1>รายละเอียด</h1>
							<p style="font-size: 18px;">และการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกรและการจัดการประสิทธิภาพการเพาะปลูกของเกษตรกร<a href="#">ดูเพิ่มเติม</a></p>
						</div>
						<div class="col-md-12 preview-button">
							<h1>ตัวเลือก</h1>
							<div class="col-md-8 col-md-offset-2">
								<a href="">
									<div class="col-md-4 info-button" style="height: 100%;margin-top: 3%;">
										<div class="img-circle image-box bg-green">
												<h2 class="col-md-12 val-box">1.5</h2>
												<h2 class="val-box">แสน</h2>
										</div>
										<h2 class="mg-box">พร้อมจำหน่าย</h2>
									</div>
								</a>
								<a href="">
									<div class="col-md-4 info-button">
										<div class="img-circle image-box bg-yellow">
											<h2 class="col-md-12 val-box">9.6</h2>
											<h2 class="val-box">พัน</h2>
										</div>
										<h2 class="mg-box">จอง</h2>
									</div>
								</a>
								<a href="">
									<div class="col-md-4 info-button">
										<div class="img-circle image-box bg-blue">
											<h2 class="col-md-12 val-box">1.5</h2>
											<h2 class="val-box">แสน</h2>
										</div>
										<h2 class="mg-box">เสนอซื้อ</h2>
									</div>
								</a>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
	<!--
	<div class="section" id="section2">
		<div class="col-md-12 chaokaset-slide-container" style="background-color: #2ecc71;">

		</div>
	</div>
	<div class="section" id="section3"><h1>เกี่ยวกับแอปพลิเคชันชาวเกษตร</h1></div>
</div>
-->
{{template "Templates/footer.html" .}}
