{{set . "title" "ชุมชนชาวเกษตร"}}
{{template "Templates/header.html" .}}
{{template "Templates/preloader.html" .}}
<script src="/public/js/templating.js" type="text/javascript" charset="utf-8"></script>
<script src="/public/js/jquery.scrollTo-min.js" type="text/javascript" charset="utf-8"></script>
<div id="chatroom" class="col-sm-12">
  <div class="chaokaset-container-verticle" id="chaokaset-loader" style="display: none;">
    <h1>ห้องสนทนารวม {{.user}}
      <a href="/">ออกจากห้องสนทนา</a></h1>
  <script type="text/html" id="message_tmpl">
    <% if(event.Type == 'message') { %>
      <div class="message <%= event.User == '{{.user}}' ? 'you' : '' %>">
        <h2><%= event.User %></h2>
        <p>
          <%= event.Text %>
        </p>
      </div>
    <% } %>
    <% if(event.Type == 'join') { %>
      <div class="message notice">
        <h2></h2>
        <p>
          <%= event.User %> เริ่มสนทนากันเถอะ
        </p>
      </div>
    <% } %>
    <% if(event.Type == 'leave') { %>
      <div class="message notice">
        <h2></h2>
        <p>
          <%= event.User %> ออกจากห้องสนทนา
        </p>
      </div>
    <% } %>
    <% if(event.Type == 'quit') { %>
      <div class="message important">
        <h2></h2>
        <p>
          คุณหลุดจากห้องสนทนา อาจเกิดจากระบบอินเตอร์เน็ต
        </p>
      </div>
    <% } %>
  </script>
  </div>
</div>

<div id="newMessage">
  <input type="text" id="message" autocomplete="off" autofocus>
  <input type="submit" value="send" id="send">
</div>

<script type="text/javascript">
  // Create a socket
  var socket = new WebSocket('ws://'+window.location.host+'/websocket/room/socket?user={{.user}}')
  console.log(socket.url);
  // Display a message
  var display = function(event) {
    $('#chatroom').append(tmpl('message_tmpl', {event: event}));
    $('#chatroom').scrollTo('max')
  }
  // Message received on the socket
  socket.onmessage = function(event) {
    display(JSON.parse(event.data))
  }
  $('#send').click(function(e) {
    var message = $('#message').val()
    $('#message').val('')
    socket.send(message)
  });
  $('#message').keypress(function(e) {
    if(e.charCode == 13 || e.keyCode == 13) {
      $('#send').click()
      e.preventDefault()
    }
  })
</script>
