{{set . "title" "เปลี่ยนรหัสผ่าน"}}
{{template "Templates/header.html" .}}
{{template "Templates/preloader.html" .}}
<div class="chaokaset-container-verticle" id="chaokaset-loader" style="display: none;">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 example">
      <h2>เปลี่ยนรหัสผ่าน <span style="color:red;font-size: 15px;">{{.flash.error}}</span></h2>
      <form method="post" action="{{url "Auth.PostRegister"}}">
        {{with $field := field "user.OldPassword" .}}
        <div class="form-group">
          <label for="exampleInputPassword1">รหัสผ่านเดิม</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="กรอกรหัสผ่านเดิม" name="{{$field.Name}}" value="{{$field.Flash}}">
          <span class="error">{{$field.Error}}</span>
        </div>
        {{end}}
        {{with $field := field "user.NewPassword" .}}
        <div class="form-group">
          <label for="exampleInputPassword1">รหัสผ่านไหม่</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="กรอกรหัสผ่านไหม่" name="{{$field.Name}}" value="{{$field.Flash}}">
          <span class="error">{{$field.Error}}</span>
        </div>
        {{end}}
        {{with $field := field "user.ValidNewPassword" .}}
        <div class="form-group">
          <label for="exampleInputPassword1">ยืนยันรหัสผ่านไหม่อีกครั้ง</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="ยืนยันรหัสผ่านไหม่อีกครั้ง" name="{{$field.Name}}" value="{{$field.Flash}}">
          <span class="error">{{$field.Error}}</span>
        </div>
        {{end}}
        <div class="col-xs-offset-2 col-sm-offset-4">
          <button type="submit" class="btn btn-default">ตกลง</button>
          <button type="submit" class="btn btn-default">ยกเลิก</button>
        </div>
        </form>
    </div>
  </div>
</div>
{{template "Templates/footer.html" .}}
