{{set . "title" "แก้ไขข้อมูลสมาชิก"}}
{{template "Templates/header.html" .}}
{{template "Templates/preloader.html" .}}
<div class="chaokaset-container-verticle" id="chaokaset-loader" style="display: none;">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 example">
      <h2>แก้ไขข้อมูลสมาชิก<span style="color:red;font-size: 15px;">{{.flash.error}}</span></h2>
      <form method="post" action="{{url "Profile.PostEditUser"}}">
        <div class="form-grop col-md-12" style="padding: 0px;">
          <div class="form-group col-md-3 padding-left-no">
            <label>คำนำหน้าชื่อ</label>
            <select class="form-control" name="user.Prefix" style="height: 38px;font-size: 18px;">
               <option value="นาย">นาย</option>
               <option value="นาง">นาง</option>
               <option value="นางสาว">นางสาว</option>
             </select>
          </div>
          <div class="form-group col-md-5">
            <label>ชื่อ</label>
            <input type="text" class="form-control" placeholder="กรอกชื่อ" name="user.Name" value="{{ .user.Name }}">
            {{with $field := field "user.Name" .}}
            <span class="error">{{$field.Error}}</span>
            {{end}}
          </div>
          <div class="form-group col-md-4 padding-right-no">
            <label>นามสกุล</label>
            <input type="text" class="form-control" placeholder="กรอกนามสกุล" name="user.Lastname" value="{{ .user.Lastname }}">
            {{with $field := field "user.Lastname" .}}
            <span class="error">{{$field.Error}}</span>
            {{end}}
          </div>
        </div>
        <div class="form-group">
          <label>เบอร์โทรศัพท์</label>
          <input type="text" class="form-control" placeholder="กรอกเบอร์โทรศัพท์" name="user.Tel" value="{{ .user.Tel }}">
          {{with $field := field "user.Tel" .}}
          <span class="error">{{$field.Error}}</span>
          {{end}}
        </div>
        <div class="form-group">
          <label>อีเมล</label>
          <input type="text" class="form-control" placeholder="กรอกอีเมล" name="user.Email" value="{{ .user.Email }}">
          {{with $field := field "user.Email" .}}
          <span class="error">{{$field.Error}}</span>
          {{end}}
        </div>
        <div class="form-group">
          <label>ที่อยู่</label>
          <input type="text" class="form-control" placeholder="กรอกที่อยู่" name="user.Address" value="{{ .user.Address }}">
        </div>
        <div class="form-grop col-md-12" style="padding: 0px;">
          <div class="form-group col-md-6 padding-left-no">
            <label>ตำบล</label>
            <input type="text" class="form-control" placeholder="กรอกชื่อ" name="user.Tumbon" value="{{ .user.Tumbon }}">
          </div>
          <div class="form-group col-md-6 padding-right-no">
            <label>อำเภอ</label>
            <input type="text" class="form-control" placeholder="กรอกนามสกุล" name="user.Aumphur" value="{{ .user.Aumphur }}">
          </div>
        </div>
        <div class="form-grop col-md-12" style="padding: 0px;">
          <div class="form-group col-md-6 padding-left-no">
            <label>จังหวัด</label>
            <input type="text" class="form-control" placeholder="กรอกชื่อ" name="user.Province" value="{{ .user.Province }}">
          </div>
          <div class="form-group col-md-6 padding-right-no">
            <label>รหัสไปรณีย์</label>
            <input type="text" class="form-control" placeholder="กรอกนามสกุล" name="user.Zipcode" value="{{ .user.Zipcode }}">
          </div>
        </div>
        <div class="col-xs-offset-2 col-sm-offset-4">
          <button type="submit" class="btn btn-default">ตกลง</button>
          <button type="submit" class="btn btn-default">ยกเลิก</button>
        </div>
        </form>
    </div>
  </div>
</div>
{{template "Templates/footer.html" .}}
