{{set . "title" "ตั้งค่าผู้ใช้งาน"}}
{{template "Templates/header.html" .}}
{{template "Templates/preloader.html" .}}
<div class="chaokaset-container-verticle" id="chaokaset-loader" style="display: none;">
  <div class="col-sm-12 varticle-header-box">
    <h1>ตั้งค่า</h1>
  </div>
  <div class="col-sm-3" style="padding: 0px;">
    <ul class="nav bd-sidenav" style="padding-top: 20px;">
        <li class="active bd-sidenav-active">
          <a href="/setting/user">ตั้งค่าผู้ใช้งาน</a>
        </li>
        <li class="">
          <a href="/setting/security">ความปลอดภัย</a>
        </li>
    </ul>
  </div>
  <div class="col-sm-9 container-box">
    <div class="col-sm-12 container-box-content" >
      <div class="col-sm-12 name-header"> <h2 class="color-green">แก้ไขข้อมูลส่วนตัว</h2></div>
      <div class="col-sm-12 name-content">
        <p>แก้ไขข้อมูลส่วนตัวของผู้ไช้งาน เช่น ชื่อ นามสกุล โดยคลิกที่ปุ่มแก้ไขข้อมูลส่วนตัว</p>
        <div>
          <button class="chaokaset-btn-border btn-style-choice" onclick="javascript:location.href='/edituser'">แก้ไขข้อมูลส่วนตัว</button>
          <button class="chaokaset-btn-border btn-style-choice" onclick="javascript:location.href='/edituser'" style="margin-left: 20px;">แก้ไขข้อมูลบัญชี</button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 container-box-content" >
      <div class="col-sm-12 name-header"> <h2 class="color-green">เปลี่ยนรหัสผ่าน</h2></div>
      <div class="col-sm-12 name-content">
        <p>หากต้องการเปลี่ยนรหัสผ่านสามารถเปลี่ยนได้ โดยคลิกที่ปุ่มเปลี่ยนรหัสผ่าน</p>
        <div style="margin: 0 auto;">
          <button class="chaokaset-btn-border btn-style-choice" onclick="javascript:location.href='/changepassword'">เปลี่ยนรหัสผ่าน</button>
        </div>
      </div>
    </div>
  </div>
</div>
{{template "Templates/footer.html" .}}
